/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.adptiv .foto {
		background-size: auto 350px;
	}
	.adptiv p,
	.zabota p {
		line-height: normal;
		padding-left: 0;
	}
	.adptiv h2,
	.zabota h2 {
		padding-left: 50px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.studio .we {
		font-size: 300px;;
		margin-top: 130px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header h1 {
		margin-top: 100px;
	}
	.header_row_text {
		margin-bottom: 50px;
	}
	.studio h2 {
		text-align: center;
	}
	.studio .we {
		font-size: 280px;
		margin-top: 130px;
	}
	.row_1 {
	    padding-top: 50px;
	    padding-bottom: 70px;
	}
	.portfolio img {
		min-width: 100%;
	}
	.portfolio .fon {
		font-size: 48px;
	}
	.portfolio .text {
		font-size: 24px;
	}
	.adptiv .foto {
		background-size: auto 330px;
		background-position: left 15px top 0;
	}
	.adptiv .blok_1 {
		padding-left: 40px;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.studio .we {
		font-size: 150px;
		margin-top: 220px;
	}
	.adptiv .foto {
		background-size: auto 250px;
		background-position: left 15px top 0;
	}
	.adptiv .fon, 
	.zabota .fon {
		font-size: 50px;
	}
	.adptiv h2,
	.zabota h2 {
		font-size: 24px;
		padding-left: 30px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.studio .we {
		font-size: 100px;
		margin-top: 220px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}