body {
 color: #fff;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 font-style: normal;
 background-color: #000;
 background-image: url(../images/bg-min.jpg);
}

.container {
 max-width: 1280px;
 margin: 0 auto;
 padding: 0 20px;
}

.title {
 font-size: 48px;
 line-height: 140%;
 font-weight: 700;
}


/* --- header start ---  */

.header {
 background-image: url(../images/header-bg-min.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: bottom center;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.header__top {
 padding: 38px 80px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 16px;
 line-height: 150%;
}

.menu__inner {
 display: flex;
 justify-content: space-between;
 /* max-width: 745px; */
}

.menu__link {
 margin: 0 28px;
 cursor: pointer;
}

.login {
 color: #fff;
 width: 183px;
 height: 44px;
 text-align: center;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
 border-radius: 50px;
 border: none;
 cursor: pointer;
}

.header__content--title {
 font-size: 64px;
 line-height: 140%;
 margin-bottom: 50px;
 font-weight: 700;
}

.time {
 display: flex;
 font-size: 40px;
 line-height: 140%;
 font-weight: 700;
}

.time__day,
.time__hour,
.time__min,
.time__sec {
 width: 102px;
 height: 112px;
 background-color: #121212;
 margin-right: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
 padding: 20px;
}

.time span {
 font-size: 16px;
 line-height: 140%;
 font-weight: normal;
 opacity: .4;
}

.header__bottom {
 background: #121212;
 font-size: 16px;
 line-height: 150%;
 /* height: 130px; */
 padding: 35px 0;
}

.header__bottom--inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.order {
 background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
 border-radius: 50px;
 border: none;
 color: #fff;
 width: 169px;
 height: 44px;
}

.header__bottom--total,
.header__bottom--success {
 display: flex;
}

.header__bottom--total span {
 margin-bottom: 10px;
}

.header__bottom span {
 opacity: .4;
 font-weight: 700;
 min-width: 223px;
 margin-bottom: 8px;
}

.header__bottom--money {
 display: flex;
}

.header__bottom--line {
 width: 714px;
 background: #fff;
 margin-bottom: 5px;
}

.header__bottom--line-indicator {
 height: 6px;
 width: 440px;
 background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.header__bottom--money-target {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 opacity: .4;
}


/* --- header end ---  */


/* --- about start ---  */

.about__inner {
 display: flex;
 justify-content: space-between;
 margin: 200px 0;
}

.about__content {
 padding-top: 70px;
 padding-left: 134px;
}

.about__title {
 margin-bottom: 45px;
 font-weight: 700;
}

.about__text {
 font-size: 14px;
 line-height: 160%;
 padding-left: 5px;
}


/* --- start end ---  */

.start__title {
 position: relative;
 margin-left: 128px;
 margin-bottom: 50px;
}

.start__title::before {
 content: "";
 width: 91px;
 height: 91px;
 display: inline-block;
 background-image: url(../images/mark-min.png);
 transform: rotate(225deg);
 position: absolute;
 left: -110px;
}

.start__descr {
 opacity: .4;
 font-size: 16px;
 line-height: 160%;
 margin-bottom: 80px;
}

.start__inner {
 display: flex;
}

.start__inner-title {
 font-size: 36px;
 line-height: 140%;
 margin-bottom: 20px;
}

.start__inner-block {
 height: 80px;
 margin-bottom: 35px;
 display: flex;
 align-items: center;
}

.start {
 margin-bottom: 200px;
}

.start__inner-block--indicator-1 {
 background-color: #fff;
 height: 80px;
 width: 100%;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start__inner-block--indicator-2 {
 background-color: #fff;
 height: 60px;
 width: 100%;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
 transform: matrix(-1, 0, 0, 1, 0, 0);
}

.start__inner-block--indicator-3 {
 background-color: #fff;
 height: 30px;
 width: 100%;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.start__inner-block--indicator-4 {
 background-color: #fff;
 height: 10px;
 width: 100%;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
 transform: matrix(-1, 0, 0, 1, 0, 0);
}

.start__inner-text {
 font-size: 14px;
 line-height: 160%;
 opacity: 0.4;
 padding-right: 18px;
}


/* --- advantages start ---  */

.advantages__title {
 margin-bottom: 120px;
 text-align: center;
}

.advantages__inner {
 display: flex;
 text-align: center;
}

.advantages__items {
 margin: 0 40px;
}

.advantages__img {
 margin-bottom: 60px;
}

.advantages__item--title {
 font-size: 24px;
 line-height: 140%;
 margin-bottom: 30px;
}

.advantages__item--text {
 font-size: 16px;
 line-height: 160%;
 opacity: 0.8;
 margin-bottom: 200px;
}


/* --- advantages end ---  */

.partners__title {
 margin-left: 128px;
 margin-bottom: 89px;
 position: relative;
}

.partners__title::before {
 content: "";
 width: 91px;
 height: 91px;
 display: inline-block;
 background-image: url(../images/mark-min.png);
 transform: rotate(45deg);
 position: absolute;
 left: -110px;
 top: -10px;
}

.partners__inner {
 display: grid;
 margin-bottom: 364px;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners__item {
 padding: 29px 0;
 width: 100%;
 text-align: center;
}

.partners__item {
 border-right: 1px solid rgba(255, 255, 255, .3);
}

.partners__item:nth-child(1),
.partners__item:nth-child(2),
.partners__item:nth-child(3),
.partners__item:nth-child(4) {
 border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.partners__item:nth-child(4n+4) {
 border-right: none;
}


/* --- program start ---  */


/* --- program end ---  */

.program {
 margin-bottom: 200px;
 text-align: center;
}

.program__title {
 margin-bottom: 30px;
 position: relative;
}

.program__title::before {
 content: "";
 width: 91px;
 height: 91px;
 display: inline-block;
 background-image: url(../images/mark-min.png);
 /* transform: rotate(180deg); */
 position: absolute;
 top: -150px;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
}

.program__descr {
 font-size: 16px;
 line-height: 160%;
 opacity: 0.5;
 margin-bottom: 80px;
}

.program__inner {
 position: relative;
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
}

.program__line {
 width: 6px;
 height: 677px;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 /* background-image: url(../images/line.png); */
}

.program__item {
 width: 230px;
 right: 174px;
}

.program__num {
 font-size: 14px;
 line-height: 160%;
 opacity: 0.5;
 margin-bottom: 15px;
}

.program__desc {
 font-size: 18px;
 line-height: 160%;
 position: relative;
}

.program__item:nth-child(odd) {
 text-align: left;
 margin-left: auto;
}

.program__item:nth-child(even) {
 text-align: right;
}


/* .program__item:nth-child(odd)::after {
 content: "";
 width: 40px;
 height: 0px;
 display: inline-block;
 opacity: 0.3;
 border: 1px solid #FFFFFF;
 transform: rotate(180deg);
 position: absolute;
} */


/* --- teachers start ---  */

.teachers {
 margin-bottom: 200px;
}

.teachers__title {
 margin-left: 128px;
 margin-bottom: 113px;
 position: relative;
}

.teachers__title::before {
 content: "";
 width: 91px;
 height: 91px;
 display: inline-block;
 background-image: url(../images/mark-min.png);
 transform: rotate(180deg);
 position: absolute;
 left: -110px;
 top: -10px;
}

.teachers__inner {
 display: flex;
 justify-content: space-around;
 text-align: center;
}

.teachers__foto {
 margin-bottom: 40px;
}

.teacher__name {
 font-size: 24px;
 line-height: 140%;
 margin-bottom: 15px;
}

.teacher__desc {
 font-size: 16px;
 line-height: 160%;
 margin-bottom: 30px;
}

.teacher__bio {
 padding: 10px 30px;
 border-radius: 22px;
 background-color: transparent;
 color: #fff;
 border: 1px solid #fff;
 cursor: pointer;
}


/* --- teachers end ---  */


/* --- footer start ---  */

.footer {
 text-align: center;
 margin-bottom: 30px;
}

.footer__title {
 margin-bottom: 30px;
}

.footer__desc {
 opacity: 0.5;
 font-size: 16px;
 line-height: 160%;
 margin-bottom: 60px;
}

.footer__email {
 width: 492px;
 font-size: 16px;
 line-height: 150%;
 margin: 0 auto;
 position: relative;
}

.footer__email input {
 width: 492px;
 padding: 10px 30px;
 background-color: rgba(255, 255, 255, .25);
 border-radius: 22px;
 border: none;
 color: #fff;
}

.footer__email input::placeholder {
 color: #fff;
 opacity: 0.8;
}

.footer__email input:focus-visible {
 outline: none;
}

.footer__email button {
 font-weight: 700;
 padding: 10px 30px;
 border-radius: 22px;
 position: absolute;
 top: 0;
 right: -60px;
 border: none;
 background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
 border-radius: 50px;
 color: #fff;
 cursor: pointer;
}

.footer__soc-icons {
 margin-top: 40px;
 margin-bottom: 50px;
}

.footer__item {
 margin: 0 15px;
 border-radius: 50%;
 background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
 padding: 13px;
}

.footer__figma {
 font-size: 16px;
 line-height: 160%;
 opacity: 0.8;
}


/* ------- */

.footer__soc-icons {
 display: flex;
 align-items: center;
 justify-content: center;
}


/* --- footer end ---  */